@page "/gallery"
@using PortraitsByPerminder.Model
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject PortraitsByPerminder.Services.PhotoService PhotoService

<h3>Photo Gallery</h3>

<div class="photo-gallery">
    @if (photos == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var photo in photos)
        {
            <div class="photo-item">
                <img src="@photo.Url" alt="@photo.Title" class="photo-img" />
                <div class="photo-title">@photo.Title</div>
                <div class="photo-description">@photo.Description</div>
            </div>
        }
    }
</div>

@code {
    private List<Photo> photos;

    protected override void OnInitialized()
    {
        photos = new List<Photo>
        {
            new Photo { Url = "img/gallery/photo1.jpg", Title = "Photo 1", Description = "Description 1" }
        };
    }
}